@font-face {
    font-family: Montserrat-Black;
    src: url(fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: Montserrat-MediumItalic;
    src: url(fonts/Montserrat-MediumItalic.ttf);
}
p, .navbar-light .navbar-nav .nav-link {
    font-family: Montserrat-Medium;
    color: black;
}
.custom-font-bold{
    font-family: Montserrat-Bold;
}
.custom-font-MediumItalic{
    font-family: Montserrat-MediumItalic;
}
.custom-font-light{
    font-family: Montserrat-Light;
}
.custom-font-medium{
    font-family: Montserrat-Medium;
}
.custom-container{
    max-width: 1400px;
    margin: auto;
}
h1, h2, h3, h4, h5{
    font-family: Montserrat-Bold;
}
body, button{
    font-size: 15px;
    font-family: Montserrat-Light;
}
body, html{
   padding: 0;
   margin: 0;
}
.custom-button{
    border-radius: 5em;
}
.custom-button2{
    border-radius: 5em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.custom-background{
    background-image: url(images/background-image.png);
}
.custom-alignment{
    width: 95%;
    max-width: 1150px;
    margin: auto;
}
.custom-background, .custom-background-2{
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}
.custom-nav-cont{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.custom-font-size, h5{
    font-family: Montserrat-Bold;
}
.custom-stars-green{
    background-image: url(images/star-green.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    padding: 0;
    background-size: contain;
    margin: 5px;
}
.custom-stars-empty{
    background-image: url(images/star-empty.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    padding: 0;
    background-size: contain;
    margin: 5px;
}
.custom-mbt{ 
    margin-top: auto;
    margin-bottom: auto;
}
.custom-box{
    width: 251px;
    height: 300px;
    border-radius: 15px;
    color: white;
    padding: 15px;
}
.custom-font-color{
    color:black;
}
.custom-card{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: white;
    border-radius: 10px;
    padding-bottom: 35px;
    border: 1px solid white;
}
.custom-box-color1{
    background-image: linear-gradient(#3777FF,#1C3C80);
}
.custom-box-color2{
    background-image: linear-gradient(#6E44FF,#372280);
}
.custom-box-color3{
    background-image: linear-gradient(#7DDE92,#3F6F49);
}
.custom-box1{
    width: 100%;
    max-width: 450px; 
}
.custom-banner-img{
    min-width: 548px;
}
.custom-cu-wrapper{
    max-width: 1100px;
}
.custom-small-box{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    margin-top: 35px;
    margin-bottom: 13px;
    box-shadow: 5px 5px 5px 0px #2222;
}
.custom-heading-color{
    color: #3777FF;
    font-weight: bold;
}
.custom-banner-text{
    width: 100%;
    max-width: 550px;
    max-height: 500px;
    margin: 20px;
    margin-top: 70px;
    padding: 20px;
}
.custom-image-container2{
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 0;
}
.custom-max-width{
    max-width: 520px;
}
.custom-image-container3, .custom-image-container2{
    max-width: 180px;
}
.custom-box2{
    width: 490px;
    height: auto;
    margin: 15px;
}
.custom-box-profile{
    width: 24%;
    border-radius: 12px;
    margin: 5px;
}
.custom-ba{
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
}
.custom-ba h1{
    font-size: 0;
}
.custom-bh{
    width: 49%;
    margin: auto;
    padding: 50px;
}

.custom-box-profile img{
    width: 100px;
}
.custom-box-profile h5{
    padding: 0;
    margin: 0;
}
.custom-btn-pos{
    margin-top: 40px;
    text-align: center;
}
/*background 2 starts here*/

.custom-img-pos{
    position: absolute;
    width: 75%;
    left: 45%;
}
.custom-box-4{
    width: 42%;
    margin-top: 23%;
}
.trusted-by{
    height: 1000px;
}
.custom-background-2{
    position: relative;
    background-image: url(images/background-image-2.png);
    overflow: hidden;
}
.custom-bkg-imgs{
    position: relative;
    max-width: 1500px;
    margin-top: -150px;
    background-image: url(images/background-footer.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.custom-img-cont{
    margin: 0;
    margin-top: -110px;
    padding: 0;
}
.custom-margin-negative{
    margin: 0;
    margin-top: -65px;
}
.custom-img-cont img, .custom-perso-info-box h4, .custom-perso-info-box h5{
    margin: 0;
    padding: 0;
}
.custom-perso-info-box{
    position: static;
    max-width: 500px;
    height: 250px;
    text-align: center;
    margin-top: 350px;
    background-color: white;
}
.carousel-indicators [data-bs-target]{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(184, 188, 190);
    margin-top: auto;
    margin-bottom: auto;
}
.carousel-indicators .active{
    background-color: rgb(55, 119, 255);
    height: 25px;
    width: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.custom-carousel-positioning{
    top: 750px;
    height: 50px;
    width: 80px;
    margin: auto;
}
.custom-horizontal-line{
    background-color:rgb(55, 119, 255);
    width: 95%;
    max-width: 1150px;
    height: 1px;
    margin: auto;
    margin-top: 200px;
    border-radius: 2px;
}
.custom-footer-container{
    max-width: 990px;
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
}
ul{
    list-style: none;
}
.custom-half{
    min-width: 50%;
}

@media screen and (max-width: 1000px){
    .custom-respo-1{
        width: 65%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        padding-left: 12px;
    }
    .custom-respo-2{
        width: 35%;
        padding: 0;
        padding-right: 12px;
    }
    .custom-respo-3{
        width: 100%;
        margin-top: 70px;
    }
    .custom-respo-3 .custom-box1{
        max-width: 100%;
    }
    .custom-respo-3 .custom-box1{
        width: 100%;
    }
    
    .custom-box-color1{
        width: 49%;
    }
    .custom-box-color3{
        width: 49%;
    }
    .custom-box-color2{
        width: 100%;
    } 


    .custom-box-profile{
        width: 32%;
    }
    .custom-ba{
        width: 99%;
        height: auto;
        margin: auto;
        font-size: 1rem;
        font-family: Montserrat-Medium;
        color: black;
        padding: 3px;
    }
    .custom-ba h1{
        font-family: Montserrat-Bold;
        font-size: calc(1.375rem + 1.5vw);
    }

    /*hide custom-box-hidden*/
    .custom-bh{
        padding: 0;
        margin: 0;
        width: 0;
        height: 0;
        font-size: 0;
    }
    .custom-bh h1{
        font-size: 0;
    }
    .custom-half{
        margin-top: 70px;
        min-width: 50%;
    }
    .custom-res{
        margin-top: 70px;
    }
    /*end code*/
}
@media screen and (max-width: 992px){
	.custom-banner-text{
        width: 100%;
    }
    .custom-box1{
        max-width: 100%;
    }
}
@media screen and (max-width: 800px){
    .custom-box-4{
        width: 100%;
        margin-top: 30px;
    }
    .custom-img-pos{
        width: 0;
        height: 0;
        left: 0;
    }
    .trusted-by{
        height: 400px;
    }
    .custom-ba.custom-mbt {
        margin-top: 70px;
    }
    .col-md-6.custom-box-4 {
        margin-top: 70px;

    }
    .custom-bkg-imgs{
        margin-top: 0;
    }
}
@media screen and (max-width: 765px){
    .custom-bp{
        margin-top: 70px;
    }
    .custom-respo-1{
        width: 100%;
        padding-right: 12px;
    }
    .custom-respo-2{
        width: 100%;
        padding-left: 12px;
    }
    .custom-box-profile{
        width: 48%;
    }
    .custom-mb{
        margin-bottom: 20px;
    }
    
}
@media screen and (max-width: 500px){
    .custom-box-color1{
        width: 99%;
    }
    .custom-box-color3{
        width: 99%;
    }
  
    .custom-box-profile{
        width: 99%;
    }
}